<template>
  <v-layout class="mt-5" justify-center>
    <v-card width="500px">
      <v-card-title>
        <h1 class="font-weight-regular title">Add Account</h1>
      </v-card-title>

      <v-card-text class="pb-3">
        <v-layout justify-center>
          <v-flex sm8>
            <v-select
              :items="items"
              label="Social App"
              v-model="form.socialApp"
              :readonly="loading"
            ></v-select>
          </v-flex>
        </v-layout>
        <v-layout justify-center>
          <v-flex sm8>
            <v-text-field
              v-model="form.email"
              label="Email"
              :readonly="loading"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pb-5">
        <v-spacer></v-spacer>
        <v-flex sm8>
          <v-btn color="green darken-2" dark :loading="loading" block @click="submit">Submit</v-btn>
        </v-flex>
        <v-spacer></v-spacer>
      </v-card-actions>

    </v-card>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      items: [
        'Line',
        'facebook',
        'twitter'
      ],
      form: {
        socialApp: 'Line',
        email: ''
      },
      loading: false
    }
  },
  methods: {
    submit () {
      this.loading = true
      this.$store.dispatch('user/addAccount', this.form)
        .then(() => {
          this.$router.push({ name: 'account' })
        })
        .catch(err => {
          this.loading = false
        })
    }
  }
}
</script>