<template>
  <v-layout class="mt-5" justify-center>
    <v-flex sm6>
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" dark router :to="{ name: 'account-create' }">Add account</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="account"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.socialApp }}</td>
            <td class="text-xs-center">{{ props.item.email }}</td>
            <td class="text-xs-center">
              <v-btn icon @click="deleteAccount(props.item)"><v-icon>delete</v-icon></v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import firebase from 'firebase/app'
export default {
  async asyncData () {
    // let db = firebase.firestore()
    // let user = firebase.auth().currentUser
    // let data = await db.collection('users').doc(user.uid).get()

    // let account = data.data().account
    // if (!account) {
    //   account = []
    // }

    // return {
    //   account: account
    // }
  },
  data () {
    return {
      headers: [
        { text: 'Social App', value: 'socialApp', align: 'center' },
        { text: 'Email', value: 'email', align: 'center' },
        { text: 'Action', value: 'action', align: 'center', sortable: false }
      ]
    }
  },
  computed: {
    account () {
      return this.$store.getters['user/getAccount']
    }
  },
  mounted () {
    this.$store.dispatch('user/fetchAccount')
  },
  methods: {
    deleteAccount (item) {
      this.$store.dispatch('user/deleteAccount', item)
    }
  }
}
</script>

<style scoped>
</style>

