<template>
  <v-app>
    <v-navigation-drawer
      v-if="navStatus"
      clipped
      app
      permanent
      mini-variant
    >
      <v-list>
        <v-list-tile
          :to="{ name: 'home' }"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="'home'" />
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          :to="{ name: 'account' }"
          router
          exact
        >
          <v-list-tile-action>
            <v-icon>account_box</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="'account'" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="light-blue darken-4"
      clipped-left
      dark
      app
    >
      <router-link style="text-decoration: none; color:white" :to="{ name: 'index' }"><v-toolbar-title v-text="title" /></router-link>
      <v-spacer />
      <v-toolbar-items v-if="!currentUser">
        <v-btn class="text-none" :to="{ name: 'login' }" flat>Login</v-btn>
        <v-btn class="text-none" :to="{ name: 'register'}" flat>Register</v-btn>
      </v-toolbar-items>
      <v-toolbar-items v-else>
        <v-menu class="text-xs-center" offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              dark
              class="text-none"
              flat
              v-on="on"
            >
              {{ currentUser.displayName }}
              <v-icon>keyboard_arrow_down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-tile @click="toHome">
              <v-list-tile-title class="text-xs-center">Home</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout">
              <v-list-tile-title class="text-xs-center">Logout</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
    <!-- <v-footer
      app
    >
      <span>&copy; 2019</span>
    </v-footer> -->
  </v-app>
</template>

<script>
import firebase from 'firebase/app'
export default {
  data() {
    return {
      title: 'Demo Project'
    }
  },
  computed: {
    navStatus () {
      return this.$store.getters['getNavStatus']
    },
    currentUser () {
      return this.$store.getters['getCurrentUser']
    }
  },
  methods: {
    logout () {
      let self = this
      firebase.auth().signOut().then(function() {
        self.$router.push('/')
      }).catch(function(error) {
        console.log(error)
      })
    },
    toHome () {
      this.$router.push('/home')
    }
  }
}
</script>
