<template>
  <v-flex class="background-color">
    <v-layout id="first-layout" justify-center>
      <v-card flat id="card-1" width="1000px">
        <v-layout align-center>
          <v-flex sm6>
            <img id="mac-image" width="100%" height="100%" src="https://cdn2.macpaw.com/images/products/cleanmymac-x/macbookpro.png?id=beb7c35ed2c1624720a4" alt="mac">
          </v-flex>
          <v-flex class="py-5" sm6>
            <h1 class="font-weight-regular text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
            <p class="mt-4 subtitle text-white">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <v-btn class="text-none ma-0" color="green darken-1" dark>Start Your Free 30-Day Trial</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-layout>
    <v-layout justify-center>
      <p class="title mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
    </v-layout>

    <v-layout justify-center>
      <img width="200px" src="https://camo.githubusercontent.com/e4923bf90c04345e43aada42486ebc4f9a3e56eb/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f677265656e732d666f6f642d737570706c696572732e737667">
      <img class="ml-5 mt-4" width="200px" src="https://camo.githubusercontent.com/1c89cd43ff20ebfdae6d7dfc615bed22897d4f2c/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f6175746f2d73706565642e737667">
      <img class="ml-5 mt-2" src="https://camo.githubusercontent.com/e7141f1aa02b6721a702b44a3b14b7383e4539ed/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f63726f6674732d6163636f756e74616e74732e737667">
      <img class="ml-4" src="https://camo.githubusercontent.com/b9d65aaf5e5d1769f8bb0e04247ff6cfa0efa2ab/687474703a2f2f7069676d656e742e6769746875622e696f2f66616b652d6c6f676f732f6c6f676f732f766563746f722f636f6c6f722f666173742d62616e616e612e737667">
    </v-layout>

    <v-layout justify-center>
      <v-card id="card-2" flat width="540px">
        <v-card-text>
          <p class="mb-0 text-xs-center display-1">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </v-card-text>
      </v-card>
    </v-layout>

    <v-layout id="second-layout" class="py-5 mt-5" row justify-center>
        <v-flex class="py-5" sm3>
          <v-subheader>It is a long established</v-subheader>
          <h1 class="font-weight-regular">There are many variations of passages</h1>
          <p class="mt-4 subtitle">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          <v-btn class="text-none ma-0" color="grey darken-3" dark>Learn More about Scheduling</v-btn>
        </v-flex>
        <img id="mac-image-2" width="50%" height="50%" src="https://firebasestorage.googleapis.com/v0/b/fir-project-d67fb.appspot.com/o/Apple-Mac-Technical-support.png?alt=media&token=f040412b-361a-496c-ad0f-695fbe6894e8" alt="mac">
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  mounted () {
  }
}
</script>

<style>
#first-layout {
  position: relative;
  overflow: hidden;
}
#first-layout::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  top: -25%;
  left: -80%;
  background-image: linear-gradient(to bottom right, #4FC3F7, #00897B);
  z-index: 1;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  opacity: .7;
}
#first-layout > * {
  z-index: 2;
}
#mac-image {
  margin-right: -3vw;
}
#card-1 {
  background-color: transparent;
}
.text-white {
  color: white;
}
#mac-image-2 {
  margin-left: -15vw;
}
#card-2 {
  background-color: transparent;
  margin-top: 10vh;
  z-index: 2;
}
#second-layout {
  position: relative;
}
#second-layout::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  top: -50%;
  left: -5%;
  background-image: linear-gradient(to bottom, white, #BBDEFB);
  z-index: 1;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  opacity: .7;
}
#second-layout > * {
  z-index: 2;
}
.background-color {
  background-color: white;
}
</style>
