<template>
  <v-layout align-center justify-center fill-height>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card width="300px">
        <v-card-text class="pa-5">
          <v-flex>
            <v-text-field
              label="Email"
              v-model="form.email"
              :rules="rules.emailRules"
              :readonly="loading"
              type="email"
            ></v-text-field>
          </v-flex>
          <v-flex class="mb-3">
            <v-text-field
              label="Password"
              v-model="form.password"
              :rules="rules.require"
              :readonly="loading"
              type="password"
            ></v-text-field>
          </v-flex>
          <v-btn :loading="loading" block color="green darken-3" @click="submit" dark>Login</v-btn>
        </v-card-text>
      </v-card>
    </v-form>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      rules: {
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        require: [
          v => !!v || 'Password is required',
        ]
      },
      valid: true,
      loading: false
    }
  },
  mounted () {
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        let self = this
        this.$store.dispatch('user/signIn', this.form)
          .then((result) => {
            self.$router.push('/home')
          }).catch((err) => {
            console.log(err)
            self.loading = false
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
