<template>
  <v-layout align-center justify-center fill-height>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
    >
      <v-card width="400px">
        <v-card-text class="pa-5">
          <v-flex>
            <v-text-field
              label="Email"
              v-model="form.email"
              :rules="rules.emailRules"
              :readonly="loading"
              type="email"
            ></v-text-field>
          </v-flex>
          <v-flex class="mb-3">
            <v-text-field
              label="Password"
              v-model="form.password"
              :readonly="loading"
              type="password"
            ></v-text-field>
          </v-flex>
          <v-flex class="mb-3">
            <v-text-field
              label="Confirm Password"
              v-model="form.confirmPassword"
              :readonly="loading"
              :rules="[rules.equal]"
              type="password"
            ></v-text-field>
          </v-flex>
          <v-flex class="mb-3">
            <v-text-field
              label="Display Name"
              v-model="form.displayName"
              :readonly="loading"
            ></v-text-field>
          </v-flex>
          <v-btn :loading="loading" block color="green darken-3" @click="submit" dark>Register</v-btn>
        </v-card-text>
      </v-card>
    </v-form>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: '',
        confirmPassword: ''
      },
      rules: {
        equal: value => value === this.form.password ||  'Your password and confirmation password do not match.',
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid'
        ]
      },
      valid: true,
      loading: false
    }
  },
  mounted () {
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$store.dispatch('user/register', this.form)
          .then((result) => {
            this.$router.push({ name: 'login' })
          }).catch((err) => {
            console.log(err)
            this.loading = false
          })
      }
    }
  }
}
</script>

<style scoped>
</style>
