<template>
  <v-layout style="overflow-x:auto" fill-height>
    <v-flex wrap v-for="(i, index) in accounts" :key="index" class="col">
      <v-toolbar color="teal" dark>
        <v-toolbar-title>{{i.email}}</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-subheader>{{i.socialApp}}</v-subheader>
      </v-toolbar>

      <v-card class="ma-2" v-for="(j, index) in i.posts" :key="index">
        <v-card-title class="subheading">
          <v-spacer></v-spacer>
          {{j.title}}
          <v-spacer></v-spacer>
        </v-card-title>
        
        <v-card-text class="pt-0">
          {{ '&emsp;&emsp;' + j.content}}
        </v-card-text>

        <v-layout justify-center>
          <img height="50%" width="50%" src="https://dummyimage.com/600x400/000/fff" alt="dummy">
        </v-layout>
        <v-card-actions>
          <v-btn color="blue darken-4" flat icon><v-icon>thumb_up</v-icon></v-btn>
          <v-btn color="red darken-2" flat icon><v-icon>thumb_down</v-icon></v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import firebase from 'firebase/app'
import axios from 'axios'
export default {
  data () {
    return {
      accounts: []
    }
  },
  async mounted () {
    this.$store.dispatch('user/fetchAccount')
    let user = firebase.auth().currentUser
    const res = await axios.get('http://localhost:4000/generate/' + user.uid)
    this.accounts = res.data
  }
}
</script>

<style>
html, body {
  height: 100%;
}
.col {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
</style>

